<!DOCTYPE html>
<% include head %>

        <section id="title">
            <h1 class="text-title"><%- username %>'s Schedule</h1>
        </section>
        <section id="saved-events">
          <!-- TODO this should really be a list, not 'cards' -->
          <% for (var i = 0; i < saved_events.length; i++) {
            let event = saved_events[i] 
            let start = new Date(event.start).toLocaleString();
            let end = new Date(event.end).toLocaleString();
          %>
            <div class="list-item card">
                <div class="dialog-content">
                  <a class="text-title" href="../../events/view/<%= event._id%>"> <%= event.title %> </a>
                  <p class="text-subhead"> <%= start %>  -  <%= end %></p>
                  <!-- <p class=""> <%= event.details %> </p> -->
                </div>
                <div class="dialog-button-container">
                  <a class="text-button" id="btn" data-id=" event._id + " href="../../events/view/<%= event._id%>">Details</a>
                  <a class="text-button" id="btn" data-id=" event._id + " href="#">Remove</a>
                </div>
            </div>
            <% } %>
          <!-- TODO loop through events with EJS -->
          <!-- <div class="saved-event-list"><%- saved_events %></div> -->
        </section>
<% include footer %>

